@use '~/src/styles/_colors.scss' as *;

.salaries {

  &-top {
    background-size: cover;
    padding: 250px 0;
    h1, p {
      color: #EFF7FB;
    }  
    .container {
      h1 {
        max-width: 500px;
      }
      p {
        max-width: 575px;
        margin-top: 30px;
      }
    }
  }

  &-main-app-screen {
    background-size: cover;
    padding: 100px 0;
    .screens {
      max-width: 96%;
      margin: 0 auto;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      &-left, &-right {
        width: 50%;
      }
      &-left {
        margin-top: 100px;
      }
      &-right {
      }
    }
  }

  &-pas {
    .content {
      h2 {
        &:nth-child(3) {
          margin-top: 75px;
        }
      }
      p {
        margin-top: 10px;
        max-width: 675px;
      }
      ul {
        li {
          // margin-top: 15px;
          // font-weight: 300;
        }
      }
      &-solutions {
        display: flex;
        align-items: center;
        margin-top: 25px;
        &-item {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          &-left {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 78px;
            height: 78px;
            background: rgba(20, 136, 204, 0.1);
            border-radius: 40px;
          }
          &-right {
            margin-left: 10px;
            p {
              margin-top: 0;
              max-width: 275px;
            }
          }
        }
      }
      &-role {
        background: rgba(21, 27, 33, 0.1);
        border-radius: 12px;
        padding: 36px;
        margin-top: 75px;
        h3 {

        }
        p {
          margin-top: 25px;
        }
        ul {
          li {

          }   
        }
      }
    }
  }

  &-tldr {
    background: linear-gradient(102.41deg, #147CCC -33.99%, #00FAFE 170.87%);
    h1, h2, h3, h4, h5, p, ul, li, span {
      color: #EFF7FB;
    }
    .content {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      &-left {
        h5 {

        }
        h3 {
          margin-top: 10px;
        }
        ul {
          li {
            margin-top: 20px;
            max-width: 500px;
            span {
              font-weight: 800;
            }
          }
        }
      }
      &-right {

      }
    }
  }

  &-design-process {
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1000px;
        width: 80%;
        margin-top: 100px;
        &-item {
          width: 175px;
          display: flex;
          flex-direction: column;
          align-items: center;
          &-icon-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 78px;
            height: 78px;
            background: rgba(20, 136, 204, 0.3);
            box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.03);
            border-radius: 48px;
            img {
  
            }
          }
          p {
            margin-top: 10px;
          }
        }
      }
    }
  }

  &-user-interviews {
    .content {
      h2 {
        margin-top: 20px;
      }
      p {
        margin-top: 30px;
      }
      &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-left {
          width: 50%;
          max-width: 400px;
        }
        &-right {
          width: 50%;
          &-row {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 360px;
            margin: 0 auto;
            &-item {
              display: flex;
              flex-direction: column;
              align-items: center;
              .icon-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 24px;
                width: 84px;
                height: 84px;
                box-sizing: border-box;
                border-radius: 120px;
                img {
                  width: 100%;
                }
                
              }
              p {
  
              }
              &:nth-child(1) {
                .icon-wrapper {
                  background: #0C202E;
                }
              }
              &:nth-child(2) {
                .icon-wrapper {
                  background: #1488CC;
                }
              }
              &:nth-child(3) {
                .icon-wrapper {
                  background: #0E8F99;
                }
              }
            } 
          }
          .multiple {
            justify-content: space-between;
          }
        }
      }
    }
  }

  &-observations {
    background-color: #0C202E;
    .content {
      width: 70%;
      h3, p {
        color: #EFF7FB;
      }
      p {
        margin-top: 20px;
        max-width: 580px;
      }
      &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        img {
          &:nth-child(1) {
            width: 30%;
          }
          &:nth-child(2) {
            width: 67%;
          }
        }
      }
    }
  }

  &-flows {
    .content {
      h2 {
        margin-top: 20px;
      }
      p {
        margin-top: 20px;
        max-width: 600px;
      }
      .side-by-side {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        &-left {
          width: 50%;
          p {
            max-width: 425px;
          }
        }
        &-right {
          width: 50%;
        }
      }
      &-part {
        margin-top: 50px;
        img {
          width: 100%;
        }
      }
      &-part:not(.side-by-side) {
        img {
          margin-top: 50px;
          width: 100%;
        }
      }
    }
  }

  &-test {
    .content {
      h2 {
        margin-top: 20px;
      }
      p {
        margin-top: 20px;
        max-width: 600px;
      }
      .side-by-side {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 30px;
        gap: 50px;
        &-left, &-right {
          &-top {
            .text-by-the-icon {
              font-weight: 700 !important;
            }
          }
        }
        &-left {
          width: 50%;
          p {
            max-width: 425px;
          }
        }
        &-right {
          width: 50%;
        }
        &-left, &-right {
          &-top {
            display: flex;
            align-items: center;
            p {
              margin-top: 0;
              margin-left: 20px;
              font-weight: 600;
              font-size: 18px;
            }
          }
          &-middle {

          }
        }
      }
      &-part {
        margin-top: 50px;
        img {
          margin-top: 50px;
          width: 100%;
        }
      }
    }
  }

  &-main-screen-and-ui {
    background-color: #0E8F99;
    h2, h3, h4, p, ul, li {
      color: #EFF7FB;
    }
    .content {
      h2 {
        margin-top: 20px;
      }
      p {
        margin-top: 20px;
        max-width: 830px;
      }
      ul {
        li {
          max-width: 840px;
        }
      }
      &-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        h3 {
          margin-top: 100px;
          text-transform: uppercase;
          text-align: center;
        }
        img {
          margin-top: 50px;
          max-width: 90%;
        }
      }
    }
  }

  &-results {
    .content {

      h2 {
        margin-top: 20px;
      }
      .side-by-side {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        &-left {
          width: 50%;
          h2 {

          }
          p {
            margin-top: 20px;
            max-width: 425px;
          }
        }
        &-right {
          width: 50%;
          &-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 420px;
            margin: 20px auto 0;
            &-item {
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-top: 20px;
            }
            &:first-child {
              justify-content: center;
              margin-top: 0;
            }
          }
        }
      }
      &-part {
        margin-top: 50px;
        img {
          width: 100%;
        }
      }
    }
  }

}

@media screen and (max-width: 1100px) {
  .salaries {

    &-top {
      padding: 100px 0;
    }

    &-main-app-screen {
      background-size: cover;
      padding: 100px 0;
      .screens {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        &-left, &-right {
          width: 90%;
        }
        &-left {
          margin-top: 0;
        }
        &-right {
        }
      }
    }

    &-pas {
      .content {
        &-solutions {
          flex-direction: column;
          align-items: flex-start;
          &-item {
            margin-top: 20px;
            &:nth-child(1) {
              margin-top: 0;
            }
            &-right {
              p {
                max-width: 225px;
              }
            }
          }
        }
        &-role {
          padding: 20px;
        }
      }
    }

    &-design-process {
      .content {
        &-content {
          justify-content: center;
          flex-wrap: wrap;
          gap: 30px;
        }
      }
    }
  
    &-user-interviews {
      .content {
        &-content {
          flex-direction: column;
          align-items: flex-start;
          &-left {
            width: unset;
            margin-top: 30px;
            p {
              margin-top: 20px;
            }
          }
          &-right {
            width: unset;
            margin-top: 30px;
          }
        }
      }
    }

    &-flows {
      .content {
        .side-by-side {
          flex-direction: column;
          &-left {
            width: unset;
          }
          &-right {
            width: unset;
            margin-top: 20px;
          }
        }
      }
    }

    &-main-screen-and-ui {
      .content {
        .side-by-side {
          flex-direction: column;
          &-left {
            width: unset;
          }
          &-right {
            width: unset;
            margin-top: 20px;
          }
        }
        &-bottom {
          margin-top: 0;
          h3 {
            margin-top: 50px;
          }
          img {
            margin-top: 20px;
          }
        }
      }
    }

    &-results {
      .content {
        .side-by-side {
          flex-direction: column;
          align-items: flex-start;
          &-left {
            width: unset;
          }
          &-right {
            width: 70%;
            margin-top: 30px;
            align-self: center;
          }
        }
      }
    }
  
  }   
}

@media screen and (max-width: 800px) {
  .salaries {
    &-tldr {
      .content {
        flex-direction: column;
        align-items: flex-start;
        &-right {
          align-self: center;
          margin-top: 50px;
        }
      }
    }

    &-observations {
      .content {
        &-content {
          flex-direction: column;
          margin-top: 20px;
          img {
            &:nth-child(1) {
              width: unset;
              max-width: 90%;
            }
            &:nth-child(2) {
              width: unset;
              max-width: 90%;
              margin-top: 20px;
            }
          }
        }
      }
    }

    &-test {
      .content {
        .side-by-side {
          flex-direction: column;
          &-left, &-right {
            width: unset;
          }
        }
      }
    }

    &-results {
      .content {
        .side-by-side {
          flex-direction: column;
          align-items: flex-start;
          &-left {
            width: unset;
          }
          &-right {
            width: 70%;
            margin-top: 30px;
            align-self: center;
            &-row {
              flex-direction: column;
              gap: 20px;
            }
          }
        }
      }
    }
  }  
}

@media screen and (max-width: 500px) {
  .salaries {

    &-top {
      padding: 70px 0 50px;
    }
  
    &-user-interviews {
      .content {
        &-content {
          &-right {
            &-row {
              justify-content: center !important;
              flex-wrap: wrap;
              gap: 30px;
            }
          }
        }
      }
    }
  
  }   
}
