@use '~/src/styles/_colors.scss' as *;

.section-container {
  .section-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 1050px;
    margin: 130px auto;
    padding: 30px 0;
    width: 90%;
    border-radius: 10px;
    transition: .5s;
    &:hover {
      background-color: #f1f2f5;
    }
    &-left {
      width: 30%;
      color: $home-dark-blue;
      h2 {
        margin-bottom: 0;
        text-decoration: none;
        font-size: 64px;
        font-weight: 700;
        letter-spacing: -0.005em;
      }
      p {
        margin: 0 0 10px;
        text-decoration: none;
        font-size: 20px;
      }
      .tags {
        display: flex;
        align-items: center;
        .tag {
          background: rgba(77, 86, 113, 0.05);
          border-radius: 4px;
          padding: 4px 8px;
          margin-right: 5px;
          color: $base-header;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
    &-right {
      margin-left: 20px;
      width: 50%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      img {
        margin-top: 30px
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .section-container {

    .section-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 20px 0;
      margin: 50px auto;
      &-left {
        width: 90%;
        display: flex;
        align-items: center;
        flex-direction: column;
        h2 {
          font-size: 30px !important;
        }
        p {
          font-size: 20px !important;
        }
      }
      &-right {
        width: 90%;
        margin-left: 0px !important;
        justify-content: center !important;
        img {
          // margin-top: 30px;
          width: 90%;
        }
      }
    }
  }  
} 
