
.atrea-container {
  background-color: #ffffff;
  .section-content {
    &-left {

    }
    &-right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      img {
        max-width: 450px;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .atrea-container {

    .atrea-section {
      
    }
  }  
} 
