@use '~/src/styles/_colors.scss' as *;

.salaries-research-container {
  background-color: $secondary-section-bg;
  .salaries-research-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      color: $primary-text;
    }
    p {
      color: $primary-text;
      text-align: left;
      max-width: 650px;
      width: 90%;
    }
    &-bottom {
      margin-top: 150px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        margin-right: 16px;
        &:nth-child(1) {
          width: 700px;
        }
        &:nth-child(2) {
          width: 310px;
        }
        &:nth-child(3) {
          width: 340px;
          margin-right: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1450px) {
  .salaries-research-section {
    &-bottom {
      flex-wrap: wrap;
      justify-content: center !important;
      img {
        margin-right: 16px;
        &:nth-child(3) {
          margin-top: 16px;
          margin-right: 0;
        }
      }
    }
  }
} 

@media screen and (max-width: 1100px) {
  .salaries-research-section {
    &-bottom {
      margin-top: 50px !important;
      flex-direction: column;
      justify-content: center !important;
      img {
        margin-top: 16px;
        margin-right: 0 !important;
        max-width: 90%;
        &:nth-child(1) {
          margin-top: 0 !important;
        }
      }
    }
  }
} 
