@use '~/src/styles/_colors.scss' as *;

.myco-main-container {
  background-image: $primary-section-bg;
  overflow: hidden;
  .main-section {
    max-width: 1200px;
    padding: 50px 0 0;
  
    &-top {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      color: $primary-text;
      &-left {
        
        margin-bottom: -7px;
        img {
          max-height: 500px;
        }
      }
      &-right {
        margin-top: 13px;
        h1 {
          font-weight: 400;
          font-size: 40px;
          margin: 0;
          margin-top: -20px;
        }
        ol {
          margin-top: 0;
        }
        :nth-child(3) {
          margin-bottom: 0;
        }
      }
    }
  }  
}

@media screen and (max-width: 1100px) {
  .myco-main-container {
    .main-section {
      &-top {
        flex-direction: column-reverse;
        align-items: center !important;
        &-left {
          width: 90% !important;
          display: flex;
          justify-content: center;
          margin-top: 50px;
          margin-bottom: 0 !important;
        }
        &-right {
          width: 90% !important;
          ol {
            font-weight: 400;
          }
        }
      }
    }
  }
} 
