@use '~/src/styles/_colors.scss' as *;

.home-container {
  position: relative;
  .bg {
    position: absolute;
    top: -105px;
    right: 0;
    height: 700px;
    width: 650px;
  }
  &-content {
    padding: 50px 0 80px;
    max-width: 1300px;
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: $base-header;
    &-left {
      max-width: 510px;
      display: flex;
      justify-content: center;
      align-items: center;
      &-content {
        p {
          font-family: 'Nunito', sans-serif;
          margin: 0;
          &:nth-child(1) {
            font-size: 32px;
            font-weight: 600;
          }
          &:nth-child(2) {
            font-size: 42px;
            font-weight: 500;
            line-height: 50px;
            margin-top: 10px;
          }
          &:nth-child(3) {
            font-size: 24px;
            font-weight: 400;
            margin-top: 20px;
          }
        }
      }
    }
    &-right {
      position: relative;
      max-width: 302px;
      background-color: #FFF9F0;
      padding: 30px;
      border: 2px solid #FCB73F;
      transform: rotate(5.67deg);
      color: $base-header;
      font-weight: 300;
      .elipse {
        position: absolute;
        width: 15px;
        height: 15px;
        top: -8px;
        left: 175px;
        left: 45%;
        background-color: #545454;
        border-radius: 50%;
      }
      p {
        margin: 0;
        font-size: 18px;
        font-weight: 400;
      }
      &-fact {
        display: flex;
        align-items: flex-start;
        margin-top: 18px;
        font-family: 'Nunito Sans', sans-serif;
        img {
          margin-top: 2px;
        }
        p {
          margin: 0;
          font-size: 18px;
          margin-left: 24px;
          font-weight: 400;
          line-height: 26px;
        }
      }
    }
    
  }
}

@media screen and (max-width: 1100px) {
  .home-container {
    .bg {
      display: none;
    }
    &-top {
      padding: 20px 40px;
      h2 {

      }
    }
    &-content {
      padding: 0 0 50px;
      width: 80%;
      flex-direction: column;
      align-items: center;
      &-left {
        &-content {
          padding: 0 !important;
          p {
            font-size: 24px !important;
            font-weight: 500 !important;
            line-height: 30px !important;
          }
        }
      }
      &-right {
        margin-top: 75px;
        transform: rotate(4deg);
        &-fact {
          
        }
      }
    }
  }
} 
