

$scroll-to-top-button-bg: #98b1e4;

$base-header: #314049;
$primary-text: #404040;
$light-text: #ffffff;

$blue-numbers: #04C3FF;
$purple-bg: #DA94E0;
$blue-text: #2E97FF;
$blue-bg: #71A6FF;
$pink-btn: #F17DF9;
$home-dark-blue: #21264E;
$dark-black: #0D0D0D;