$scroll-to-top-button-bg: #98b1e4;

$base-header: #314049;
$primary-text: #dee4ea;
$light-text: #ffffff;
$home-page-text: rgba(222, 228, 234, 0.6);

$blue-numbers: #04c3ff;
$purple-bg: #da94e0;
$blue-text: #2e97ff;
$blue-bg: #71a6ff;
$pink-btn: #f17df9;
$home-dark-blue: #21264e;
$dark-black: #1f1f1f;
