

$scroll-to-top-button-bg: #98b1e4;

$base-header: #314049;
$primary-text: #DEE4EA;
$light-text: #ffffff;
$home-page-text: rgba(222, 228, 234, 0.6);

$blue-numbers: #04C3FF;
$purple-bg: #DA94E0;
$blue-text: #2E97FF;
$blue-bg: #71A6FF;
$pink-btn: #F17DF9;
$home-dark-blue: #21264E;
$dark-black: #1F1F1F;