@use '~/src/styles/_colors.scss' as *;

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p, a, span, ul, li, input, label, button {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  color: #151B21;
}

h1 {
  font-weight: 800;
  font-size: 90px;
}

h2 {
  font-weight: 800;
  font-size: 50px;
}

h3 {
  font-weight: 700;
  font-size: 32px;
}

h4 {
  font-weight: 700;
  font-size: 22px;
}

p, ol, li, input, label, button {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

section {
  width: 100%;
}

@media screen and (max-width: 1100px) {
  h1 {
    font-size: 36px !important;
  }
  
  h2 {
    font-size: 24px !important;
  }
  
  h3 {
    font-size: 20px !important;
    font-weight: 600 !important;
  }
  
  h4 {
    font-size: 18px !important;
    font-weight: 600 !important;
  }
  
  p, li {
    font-size: 16px !important;
    line-height: 28px !important;
    font-weight: 400 !important;
  }
}

.content {
  padding: 100px 0;
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

@media screen and (max-width: 1100px) {
  .content {
    padding: 50px 0;
  }
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1210px;
}

@media screen and (max-width: 1100px) {
  .container {
    padding: 50px 0;
  }
}

.bold {
  font-weight: 800;
}
