@use '~/src/styles/_colors.scss' as *;

.marketer {
  &-top {
    background-size: cover;
    padding: 250px 0;
    .container {
      h1 {

      }
      p {
        margin-top: 30px;
        max-width: 490px;
      }
    }
  }
  &-design-system {
    background-color: white;
    .content {
      .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
          &:nth-child(1) {
            width: 57%;
          }
          &:nth-child(2) {
            width: 43%;
          }
        }
      }
      .middle {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 100px;
        h2 {

        }
        p {
          margin-top: 20px;
          max-width: 710px;
        }
        img {
          width: 78%;
          margin-top: 60px;
        }
      }
    }
  }
  &-examples {
    background: radial-gradient(50% 50% at 50% 50%, rgba(185, 222, 90, 0.43) 0%, rgba(108, 173, 91, 0.53) 100%);
    .content {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      img {
        width: 60%;
      }
    }
  }
  &-graphs {
    background-color: #F3F4F6;
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 60%;
        margin-top: 50px;
      }
    }
  }
  &-bottom {
    background-color: white;
    img {
      margin-top: -240px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 1100px) {
  .marketer {
    &-top {
      padding: 100px 0;
    }
    &-design-system {
      .content {
        .top {
          flex-direction: column;
          img {
            width: 80% !important;
          }
        }
        .middle {
          padding-top: 50px;
          img {
            margin-top: 30px;
            width: 100%;
          }
        }
      }
    }
    &-examples {
      .content {
        img {
          width: 100%;
        }
      }
    }
    &-bottom {
      img {
        margin-top: -140px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .marketer {
    &-bottom {
      img {
        margin-top: -80px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .marketer {
    &-top {
      padding: 70px 0 50px;
    }
    &-design-system {
      .content {
        .top {
          img {
            width: 100% !important;
          }
        }
      }
    }
    &-graphs {
      .content {
        img {
          width: 100%;
        }
      }
    }
  }
}