@use '~/src/styles/_colors.scss' as *;

.scrolled {
  background-color: white;
  box-shadow: 0 2px 20px rgb(0 0 0 / 20%);
  .header-content {
    &-left, &-right {
      a, button {
        color: #151B21 !important;
      }
    }
  }
}

.white-text {
  .header-content {
    &-left, &-right {
      a, button {
        color: #EFF7FB;
      }
    }
  }
}

header {
  position: fixed;
  background-color: transparent;
  padding: 24px 0;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  height: 80px;
  transition: .3s;
  
  z-index: 1;
  box-shadow: 0 0 0 rgba(0, 0, 0, .3);
  .header-content {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a, button {
      color: #151B21;
      margin: 0;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
    &-left {
      a, button {
        font-weight: 800;
        font-size: 22px;
        text-decoration: none;
      }
    }
    &-right {
      z-index: 99;
      display: flex;
      align-items: center;
      justify-content: space-between;
      a, button {
        margin-left: 40px;
        font-weight: 500;
        font-size: 16px;
        text-decoration: none;
      }
      button {
        margin-top: 1px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  header {
    padding: 16px 0;
    height: 60px;
    .header-content {
      &-left {
        a, button {
          font-size: 18px;
        }
      }
      &-right {
        a, button {
          font-size: 16px;
          margin-left: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  header {
    .header-content {
      &-left {
        a, button {
        }
      }
      &-right {
        a, button {
          margin-left: 20px;
        }
        .email {
          display: none;
        }
      }
    }
  }
}
