@use '~/src/styles/_colors.scss' as *;

.myco-container {
  .section-content {
    flex-direction: row-reverse;
    &-left {
      margin-top: 52px;
    }
    &-right {
      
    }
  }
}

@media screen and (max-width: 1100px) {
  .myco-container {
    .section-content {
      &-left {
        margin-top: 0;
      }
    }
  }  
} 
