@use '~/src/styles/_colors.scss' as *;


.marketist-top-container {
  position: relative;
  min-height: 750px;
  background-color: rgba(110, 181, 232, .5);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  img {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 900px;
    width: 90%;
  }
}

@media screen and (max-width: 1100px) {
  .marketist-top-container {

    img {

    }
  }  
} 
