
.wireframes-section-container {
  background-color: #ffffff;
  .wireframes-section {
    color: #404040;
    &-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-image {
        width: 30%;
        padding: 10px;
        background-color: rgba(196, 196, 196, 0.3);
        margin-right: 10px;
        img {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .wireframes-section {
    padding: 50px 0;
    &-box {
      flex-direction: column;
      &-image {
        width: 90% !important;
        margin-right: 0 !important;
        margin-bottom: 25px;
      }
    }
  }
} 
