@use '~/src/styles/_colors.scss' as *;

.auth {
  background: $dark-black;
  padding: 150px 0;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  .bg {
    position: absolute;
    top: -105px;
    right: 0;
    height: 700px;
  }
  &-content {
    width: 90%;
    max-width: 350px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 300px;
    h2 {
      font-size: 40px;
      margin-bottom: 8px;
      color: #DEE4EA;
    }
    p {
      margin: 0;
      color: #DEE4EA;
    }
    form {
      margin-top: 64px;
      width: 100%;
      label {
        display: flex;
        flex-direction: column;
        font-weight: 600;
        font-size: 16px;
        color: #DEE4EA;
      }
      input {
        height: 38px;
        width: 100%;
        border-radius: 5px;
        border: none;
        box-sizing: border-box;
        font-size: 16px;
        outline: none;
      }
      input[type='password'] {
        background-color: #1C1C1C;
        color: #ffffff;
        margin-top: 10px;
        padding: 5px;
      }
      input[type='submit'] {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $pink-btn;
        margin-top: 32px;
        color: $dark-black;
        font-size: 18px;
        font-weight: 600;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .auth {
    padding: 100px 0;
    justify-content: center;
    .bg {
      width: 50%;
      height: unset;
      top: -100px;
    }
    &-content {
      padding: 0 50px;
      margin: 0 auto;
      padding: unset;
    }
  }  
} 

@media screen and (max-width: 500px) {
  .auth {
    .bg {
      top: -50px;
    }
  }  
} 
