@use '~/src/styles/_colors.scss' as *;

.clients-item {
    position: relative;
    max-width: 715px;
    margin-top: 50px;
    .quote {
        position: absolute;
        font-weight: 800;
        font-size: 80px;
        line-height: 0;
        color: #F17DF9;
    }
    .quote-1 {
        top: 20px;
        left: 0;   
    }
    .quote-2 {
        bottom: 85px;
        right: 0;
        transform: rotate(180deg);
    }
    &-details {
        padding: 15px 50px;
        &-person {
            display: flex;
            align-items: center;
            margin-top: 10px;
            .name {
                margin-right: 12px;
                font-weight: 700 !important;
            }
            &-additional {
                display: flex;
                align-items: center;
                .title {
                    margin-right: 8px;
                    padding-right: 8px;
                    border-right: 1px solid #DEE4EA;
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .clients-item {
        &-details {
            &-person {
                flex-direction: column;
                align-items: flex-start;
                .name {
                }
                &-additional {
                    flex-direction: column;
                    align-items: flex-start;
                    .title {
                        margin-right: 0;
                        padding-right: 0;
                        border-right: none;
                    }
                    .company {
                        margin-top: 8px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .clients-item {
        .quote-1 {
            top: -13px;
        }
        &-details {
            padding: 15px 20px;
        }
    }
}
