@use '~/src/styles/_colors.scss' as *;

.logos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .logos-wrapper {
        position: relative;
        overflow: hidden;
        width: 200%;
        height: 5rem;
        &-container {
            position: absolute;
            display: flex;
            justify-content: space-around;
            align-items: center;
            animation: scroll 15s linear infinite;
            gap: 5rem;
            width: 200%;
            height: 100%;
            left: 0;
            img {
                height: 100%;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .logos-container {
        .logos-wrapper {
            height: 50px;
            &-container {
                gap: 50px;
                img {
                }
            }
        }
    }
} 

@keyframes scroll {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}

.animate {
    animation: scroll 15s linear infinite;
}