@use '~/src/styles/_colors.scss' as *;

.percentage-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  .circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .number {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-size: 28px !important;
        font-weight: 800 !important;
      }
    }
  }
  .text {
    max-width: 180px;
    text-align: center;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 25px;
    margin-top: 16px;
  }
}
