@use '~/src/styles/_colors.scss' as *;


header {
    padding: 30px 5%;
    background-color: transparent;
    a {
      font-family: 'Nunito', sans-serif;
      margin-top: 0;
      font-weight: 600;
      font-size: 32px;
      color: $base-header;
      margin: 0;
    }
}