@use '~/src/styles/_colors.scss' as *;


header {
  // position: absolute;
  padding: 30px 5%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    color: $base-header;
    margin: 0;
  }
  .header-left {
    a {
      font-weight: 700;
      font-size: 25px;
      font-family: 'Nunito', sans-serif;
    }
  }
  .header-right {
    z-index: 99;
    a {
      font-weight: 400;
      font-size: 20px;
      font-family: 'Nunito Sans', sans-serif;
    }
  }
}