@use '~/src/styles/_colors.scss' as *;

.producers-container {
  background-color: rgba(92, 188, 227, 0.8);;
  .producers-section {
    color: $light-text;
    &-part {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      &:nth-child(3) {
        margin-top: 100px;
      }
      &-item {
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 30px;
        &:first-child {
          margin-bottom: 75px;
        }
        img {
          width: 300px;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .producers-section {
    &-part {
      flex-direction: column;
      align-items: center !important;
      &:nth-child(3) {
        margin-top: 0 !important;
      }
      &-item {
        margin-bottom: 50px !important;
      }
    }
  }
} 
