
.myco-container {
  background-color: #fcb73f1a;
  .section-content {
    padding: 20px 0;
  }
}

@media screen and (max-width: 1100px) {
  .myco-container {

    .section-content {
      &-left {

      }
      &-right {
        margin-left: 0 !important;
        img {
          margin-top: 0 !important;
        }
      }
    }
  }  
} 
