@use '~/src/styles/_colors.scss' as *;

footer {
    padding: 20px 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid $base-header;
    .footer-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 600px;
        &-left {
            display: flex;
            align-items: center;
            justify-content: space-between;
            p {
                margin: 0;
                font-size: 20px;
            }
            img {
                margin-left: 10px;
            }
        }
        &-right {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 4px;
            ul {
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0;
                li {
                    a {
                        margin-left: 10px;
                        img {

                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {

} 
