@use '~/src/styles/_colors.scss' as *;

footer {
    padding: 30px 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    .footer-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 100px;
        max-width: 1300px;
        &-left {
            display: flex;
            align-items: center;
            justify-content: space-between;
            p {
                margin: 0;
                font-size: 18px;
                font-weight: 400;
                color: $base-header;
            }
            .link {
                position: relative;
                display: flex;
                align-items: center;
                margin: 0 15px;
                cursor: pointer;
                &:nth-child(2) {
                    border-right: 2px solid $base-header;
                    padding-right: 8px;
                    margin-right: 0;
                    margin-top: 1px;
                }
                &:nth-child(3) {
                    margin-top: 2px;
                }
                p {
                    margin: 0 8px;
                    font-size: 18px;
                    font-weight: 400;
                }
                img {

                }
                .copied {
                    position: absolute;
                    top: -34px;
                    right: -8px;
                    background-color: rgba(104, 203, 155, .2);
                    border-radius: 8px;
                    padding: 0 5px;
                    transition: .3s;
                    p {
                        font-size: 14px !important;
                        margin: 0;
                    }
                }
            }
        }
        &-right {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 4px;
            .link {
                display: flex;
                align-items: center;
                justify-content: space-between;
                p {
                    margin: 0;
                    color: $base-header;
                    font-size: 18px;
                    font-weight: 400;
                }
                img {
                    margin-left: 10px;
                    // width: 5px;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    footer {
        margin-top: 40px;
        padding: 20px 5%;
        .footer-content {
            flex-direction: column;
            gap: unset;
            &-left {
            }
            &-right {
                margin-top: 20px;
            }
        }
    }    
} 

@media screen and (max-width: 750px) {
    footer {
        border-top: 1px solid $base-header;
        .footer-content {
            &-left {
                flex-direction: column;
                .link {
                    &:nth-child(2) {
                        border-right: unset;
                        padding-right: 0;
                        margin-right: 0;
                        margin-top: 5px;
                    }
                    &:nth-child(3) {
                        margin-top: 5px;
                        flex-direction: row-reverse;
                    }
                    .copied {
                        top: 0;
                        right: -64px;
                    }
                }
            }
            &-right {
                margin-top: 5px;
            }
        }
    }    
} 
