@use '~/src/styles/_colors.scss' as *;

.salaries-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .section-content {
    max-width: unset;
    justify-content: flex-end;
    max-width: 1200px;
    margin: 64px auto 50px;
    gap: unset;
    &-left {
      max-width: 350px;
      margin-right: 50px;
       p {
        max-width: 280px;
       }
    }
    &-right {
      width: 55%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      img {
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .salaries-container {
    .section-content {
      margin: 50px auto 50px;
      &-left {
        margin-top: 50px;
        margin-right: 0;
      }
      &-right {
        width: 100%;
      }
    }
  }  
} 
