
.reporting-section-container {
  background-color: #ffffff;
  .reporting-section {
    padding: 100px 0;
    &-top {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      &-left {
        width: 50%;
        margin-right: 75px;
        h3 {
          color: #404040;
          margin: 0;
          margin-top: -20px;
        }
        p {
          margin: 30px 0 0;
          // font-weight: 300;
          // font-size: 24px;
          color: #404040;
        }
      }
      &-right {
        width: 50%;
      }
    }
    &-bottom {
      margin-top: 100px;
      margin-bottom: -8px;
      h3 {
        color: #404040;
      }
      &-content {
        padding: 48px;
        background: rgba(97, 103, 125, 0.1);
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        &-left {
          width: 50%;
          margin-right: 75px;
          p {
            color: #61677D;
            text-align: left;
            margin-top: 0;
            margin-bottom: 20px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        &-right {
          width: 50%;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .reporting-section {
    padding: 50px 0 50px !important;
    &-top {
      flex-direction: column;
      align-items: center !important;
      &-left {
        width: 100% !important;
        margin-right: 0 !important;
        h3 {
          font-size: 26px !important;
        }
      }
      &-right {
        width: 75% !important;
        margin-top: 75px;
        h3 {
          font-size: 26px !important;
        }
      }
    }
    &-bottom {
      margin-top: 40px !important;
    }
  }
} 

@media screen and (max-width: 1100px) {
  .reporting-section {
    &-top {
      &-right {
        margin-top: 30px !important;
        width: 100% !important;
        img {
          width: 100%;
        }
      }
    }
    &-bottom {
      margin-top: 40px !important;
      &-content {
        flex-direction: column;
        align-items: center;
        padding: 24px !important;
        &-left {
          width: 80% !important;
          margin-right: 0 !important;
        }
        &-right {
          width: 80% !important;
          margin-top: 20px !important;
        }
      }
    }
  }
} 
