@use '~/src/styles/_colors.scss' as *;

.marketist-main-container {
	&-content {
		max-width: 700px;
		h1 {
			font-weight: 600;
			font-size: 63px;
			margin-bottom: 20px;
		}
		p {
			margin: 0;
		}
	}
}

@media screen and (max-width: 1100px) {
} 
